<template>
  <div>
    <h1>Create Restaurant</h1>

    <form @submit.prevent="createRestaurant">
      <h4>Name of your damn restaurant</h4>
      <BaseInput
        label="Title"
        type="text"
        placeholder="Just placeholder stuff"
      />

      <h3>Name & describe your event</h3>
      <BaseInput
        label="Title"
        type="text"
        placeholder="Add an event title"
        class="field"
      />

      <!--
      <h3>Name and describe your restaurant</h3>
      <div class="field">
        <label>Title</label>
        <input v-model="event.title" type="text" placeholder="Add a restaurant title" />
      </div>


      <label>Select a category</label>
       <select v-model="restaurant.category">
        <option v-for="cat in categories" :key="cat">{{ cat }}</option>
      </select>


      <h3>Name and describe your restaurant</h3>
      <div class="field">
        <label>Title</label>
        <input v-model="restaurant.title" type="text" placeholder="Add a restaurant title" />
      </div>
      
      <div class="field">
        <label>Description</label>
        <input v-model="restaurant.description" type="text" placeholder="Add a restaurant description" />
      </div>

      <h3>Where is your restaurant</h3>
      <div class="field">
        <label>Location</label>
        <input v-model="restaurant.location" type="text" placeholder="Add a restaurant location" />
      </div>

      <h3>Something else about the restaurant</h3>
      <div class="field">
        <label>Something else</label>
        <input v-model="restaurant.else" type="text" placeholder="Add a restaurant something else" />
      </div>
      -->
    </form>

    <!-- First attempt
<form class="new-restaurant-form" @submit.prevent="onSubmit">
        <p>
        <label>New restaurant:</label>
        <input v-model="restname" type="text" placeholder="Enter restaurant name">
        </p>
        <input type="submit" value="Submit!">
</form>
-->
  </div>
</template>

<script>
import BaseInput from "@/components/BaseInput.vue";

//import { defineComponent } from '@vue/composition-api'
<<<<<<< HEAD
=======
// BB test

>>>>>>> 1e8fb73f57ed3992b40e084b5bdb56df48e76a8f
export default {
  components: {
    BaseInput,
  },

  /*&
  data(){
    return {
        //restname: null
    }
  }
  */
};
</script>

<style scoped></style>
