<template>
    <div>
        <label v-if="label">{{ label }}</label>
        <input 
        :id = "label"
        :value="value"
        v-bind="$attrs"
        @input="updateValue" 

        />
    </div>
</template>

<script>

    export default {

        inheritAttrs: false,

        props: {
            value: [String, Number],
            label: String
        },

    methods: {
        updateValue(event) {
            this.$emit('input', event.target.value)
        }
    }
        
    }
</script>

<style scoped>

</style>